[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Miogon (MiOgonowski)
[access "refs/for/refs/*"]
	read = group user/Miogon (MiOgonowski)
	push = group user/Miogon (MiOgonowski)
	label-Code-Review = -2..+2 group user/Miogon (MiOgonowski)
	label-Verified = -1..+1 group user/Miogon (MiOgonowski)
	rebase = group user/Miogon (MiOgonowski)
	removeReviewer = group user/Miogon (MiOgonowski)
	submit = group user/Miogon (MiOgonowski)
[access "refs/heads/*"]
	read = group user/Miogon (MiOgonowski)
	create = group user/Miogon (MiOgonowski)
	push = +force group user/Miogon (MiOgonowski)
	pushMerge = group user/Miogon (MiOgonowski)
[access "refs/tags/*"]
	push = +force group user/Miogon (MiOgonowski)
	pushTag = group user/Miogon (MiOgonowski)
	pushSignedTag = group user/Miogon (MiOgonowski)
